.comments {
    width: 100%;
    background: rgb(245, 245, 245)0e6;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }
  .comments .writebox {
    width: 100%;
    justify-content: space-between;
  }
  .comments .writebox input {
    width: 78%;
    background: transparent;
    border: 1px solid #343536;;
    padding: 10px;
    border-radius: 0.5rem;
    color: #0c0c0c;
  }
  .user-comment{
    background-color:#dae0e6 ;
    padding: 2px 0;
  }

  .user-comment .delete{
    display: flex;
    float: right;
  }

  .comment-button {
    background-color: orangered;
    color: white;
    border-radius: 12px;
    border: transparent;
    height: 32px;
    width: 64px;
    transition: background-color 0.3s ease; 
  }
  
  .comment-button:hover {
    background-color: orange; 
    cursor: pointer; 
  }
  