.reddit_clone-nav_fixed {
    position: fixed;
    top: 0;
    border: 1px solid #00000033;
    background-color: #ffffff;
    width: 100%;
    color: white;
    z-index: 100;
  }
  
  .reddit_clone-nav_menu_btn {
    /* width: 100%; */
    width: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0.25rem;
    font-size: 1.1rem;
    background-color:  white;
    padding: 0.5rem;
    /* border: 1px solid  #1b1c1b; */
    /* border: 2px solid red; */
  }
  .reddit-logo{
    color: #131313;
    height: 25px;
    padding-left: 12px;
  }
  
  .reddit_clone-nav_menu_btn button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    border: none;
    background-color: white;
    font-size: 1.1rem;
  }
  .reddit_clone-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #ffffff;
    gap: 0.75rem;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
  }
  .reddit_clone-nav_icon {
    flex: 0.82;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .reddit_clone-nav_reddit_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .reddit_Clone-nav_before_login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .reddit_clone-nav_icons {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
    color: white;
  }
  
  .reddit_clone-nav_icons button {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    width: 2.5rem;
    font-size: 1.5rem;
    overflow: hidden;
    background-color:  #fdfbfb;
    cursor: pointer;
  }
  
  .reddit_clone-nav_icons_item button:nth-of-type(4) {
    font-size: 1rem;
    overflow: visible;
    width: 7rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 0.2rem;
    font-family: var(--font-c);
  }
  .reddit_clone-nav_icons button:hover {
    background-color: #c5c8cc;
  }
  .reddit_clone-nav_icon p {
    cursor: pointer;
    color: #1b1c1b;
    margin: 0 0.2rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--font-c);
  
    /* background-color: red; */
  }
  .reddit_clone-mid_icons {
    flex: 1;
    display: flex;
    align-items: center;
    align-items: row;
    justify-content: space-around;
    border-right: 2px solid #c5c8cc;
  }
  .reddit_clone-mid_icons button {
    font-size: 1.5rem;
    /* padding: 0.5rem 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    background-color:white;
  }
  .reddit_clone-mid_icons button:nth-of-type(2) {
    font-size: 2rem;
  }
  .reddit_clone-mid_icons button:hover {
    background-color: #c5c8cc;
  }
  .reddit_clone-nav_icons_item {
    display: flex;
    /* flex: 1; */
    flex: 1.2;
    width: 100%;
    flex-direction: row;
    /* gap: 0.5rem; */
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid orangered; */
  }
  .reddit_clone-nav_username {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--color-border); */
    font-family: var(--font-c);
    cursor: pointer;
    /* gap: 0.5rem; */
    height: 2.5rem;
    /* width: 8rem; */
    width: 100%;
    /* width: 15rem; */
    padding: 1rem 0.5rem;
    border-radius: 5px;
    /* border: 1px solid  #1b1c1b; */
  }
  .reddit_clone-nav_username:hover {
    border: 1px solid #343536;
  }
  
  .reddit_clone-nav_username_item {
    display: flex;
  
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .reddit_clone-nav_username_userphoto {
    color: #343536;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 4px;
    overflow: hidden;
  }
  .reddit_clone-nav_username_user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .reddit_clone-nav_username_user p {
    font-family:  "Signika Negative", sans-serif;
    color:#343536 ;
    font-size: .8rem;
    font-weight: bold;
  }
  .reddit_clone-nav_username_user p:nth-of-type(2) {
    color: #343536;
    font-family:  "Signika Negative", sans-serif;
    font-weight: 400;
  }
  /* .reddit_clone-nav_icon span {
    color: var(--color-text);
    font-family: var(--font-c);
  } */
  .reddit_clone-nav_reddit_icon {
    color: orangered;
    font-size: 2rem;
    /* background-color: var(--color-bg); */
    border-radius: 50%;
  }
  .reddit_clone-nav_home_icon {
    color: white;
    font-size: 1.5rem;
    margin: 0 0.5rem 0 1rem;
  }
  
  /* .reddit_clone-nav > * {
    flex: 1;
  } */
  .reddit_clone-nav_input {
    flex: 1.3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* border: 2px solid red; */
  }
  .reddit_clone-nav_input_item {
    flex: 4;
    width: 100%;
  }
  
  .search-wrapper {
    position: relative;
  }
  
  .reddit_clone-nav_input_item input {
    width: 100%;
    border: 1px solid transparent;
    font-family: "Signika Negative", sans-serif;
    background-color: #d4d0d079;
    font-size: 1rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem; /* Adjust right padding to accommodate the icon */
    border-radius: 1.5rem;
    color: rgb(58, 58, 58);
    position: relative;
  }
  
  .reddit_clone-nav_input_item input:focus {
    outline: 0.5px solid #0079ff;
  }
  
  .cancel-icon {
    position: absolute;
    top: 50%;
     right: 34.75rem; 
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  
  .reddit_clone-nav_login_part {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .reddit_clone-nav_login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: #D93A00;
    width: 5rem;
    color: #1b1c1b;
    border: none;
    cursor: pointer;
  }
  .reddit_clone-nav_login_part button {
    font-family: "Signika Negative", sans-serif;;
  }
  .reddit_clone-nav_getapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 116px;
    gap: 0.5rem;
    background-color: #d7dadc;
    color: #d7dadc;
    font-size: 1rem;
    width: 7rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    color:  #0c0c0c;
    border: 1px solid #343536;
  }
  
  .drop-icon{
    color: black;
  }
  .reddit_clone-nav_option {
    position: fixed;
    top: 3rem;
    right: 0.5rem;
    background-color:#c5c5c5;
    padding: 0;
    display: flex;
    width: 13rem;
    flex-direction: column;
    border: 1px solid #c5c8cc;
    border-top: none;
  }
  
  .reddit_clone-nav_option button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color:  #ebebeb;
    white-space: nowrap;
    font-size: 1rem;
    font-family:"Signika Negative", sans-serif;;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    border: none;
    color: rgb(15, 15, 15);
  }
  .reddit_clone-contact_icon {
    cursor: pointer;
    color: black;
    height: 20px;
    width: 20px;
  }
  .reddit_clone-nav_option button:hover {
    background-color: var(--color-border);
    cursor: pointer;
  }
  @media screen and (max-width: 1220px) {
    .reddit_clone-nav_username_user {
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
    .react_clone-mid_icons {
      display: none;
    }
    .reddit_clone-nav_menu_btn button span {
      display: none;
    }
    .reddit_clone-mid_icons {
      display: none;
    }
  
    .reddit_clone-nav_menu_btn {
      width: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .reddit_clone-nav_reddit_name p {
      display: none;
    }
    .reddit_clone-nav_fixed {
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .reddit_clone-nav_getapp {
      display: none;
    }
    .reddit_clone-nav_login {
      display: none;
    }
    .reddit_clone-nav_icons_item button p {
      display: none;
    }
    .reddit_clone-nav_icons_item button:nth-of-type(4) {
      width: 1.5rem;
    }
    .reddit_clone-nav_icons_item button {
      width: 1.5rem;
    }
  }


.search-dropdown {
  position: absolute;
  top: calc(100% + 5px); 
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 8px 12px;
  z-index: 1000; 

  
}

.search-dropdown span {
  color: #555; 
  font-size: 14px;
}
