.reddit_clone-popular_stick {
  background-color: white;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  margin-left: 23%; /* Example: Using a percentage value instead of fixed pixels */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.reddit_clone-popular_stick_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  color: #0c0c0c;
  font-family: "Signika Negative", sans-serif;
  background-color: #d7dadc;
  padding: 0.5rem;
  border-radius: 1rem;
}

.reddit_clone-popular_stick_item.active {
  color: #6a5cff; /* Fixed missing semicolon and color value */
}

.reddit_clone-popular_stick_item a {
  font-family: "Signika Negative", sans-serif;
  color: #0c0c0c;
  font-weight: bold;
}

.reddit_clone-popular_stick_item select {
  font-family: "Signika Negative", sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #d7dadc;
}

.reddit_clone-popular_stick_item select:hover {
  border: none;
}

@media screen and (max-width: 800px) {
  .reddit_clone-popular_stick_item {
    gap: 0;
    justify-content: space-around;
  }
  .reddit_clone-popular_stick_item:nth-of-type(3),
  .reddit_clone-popular_stick_item:nth-of-type(4) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .reddit_clone-popular_stick > * {
    flex: 1;
  }
}


  